<div class="container">
    <div class="header">
      <h1>Edit Book</h1>
    </div>
  
    <div class="content">
      <form (submit)="updateBook()">
        <table>
          <thead>
            <tr>
              <th>Book Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" id="bookName" [(ngModel)]="book.bookName" name="bookName" required>
              </td>
              <td>
                <input type="number" id="price" [(ngModel)]="book.price" name="price" required>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit">Update Book</button>
      </form>
    </div>
  
    <div class="footer">
      <p>Footer content goes here</p>
    </div>
  </div>
  